eWallet.Topup/Web References/vn.xpay/PartnerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://partner.logich.vn/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://partner.logich.vn/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://partner.logich.vn/">
      <s:element name="About">
        <s:complexType />
      </s:element>
      <s:element name="AboutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AboutResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Echo">
        <s:complexType />
      </s:element>
      <s:element name="EchoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EchoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserRequestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AboutSoapIn">
    <wsdl:part name="parameters" element="tns:About" />
  </wsdl:message>
  <wsdl:message name="AboutSoapOut">
    <wsdl:part name="parameters" element="tns:AboutResponse" />
  </wsdl:message>
  <wsdl:message name="EchoSoapIn">
    <wsdl:part name="parameters" element="tns:Echo" />
  </wsdl:message>
  <wsdl:message name="EchoSoapOut">
    <wsdl:part name="parameters" element="tns:EchoResponse" />
  </wsdl:message>
  <wsdl:message name="UserRequestSoapIn">
    <wsdl:part name="parameters" element="tns:UserRequest" />
  </wsdl:message>
  <wsdl:message name="UserRequestSoapOut">
    <wsdl:part name="parameters" element="tns:UserRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="PartnerServiceSoap">
    <wsdl:operation name="About">
      <wsdl:input message="tns:AboutSoapIn" />
      <wsdl:output message="tns:AboutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Echo">
      <wsdl:input message="tns:EchoSoapIn" />
      <wsdl:output message="tns:EchoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserRequest">
      <wsdl:input message="tns:UserRequestSoapIn" />
      <wsdl:output message="tns:UserRequestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PartnerServiceSoap" type="tns:PartnerServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="About">
      <soap:operation soapAction="http://partner.logich.vn/About" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Echo">
      <soap:operation soapAction="http://partner.logich.vn/Echo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRequest">
      <soap:operation soapAction="http://partner.logich.vn/UserRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PartnerServiceSoap12" type="tns:PartnerServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="About">
      <soap12:operation soapAction="http://partner.logich.vn/About" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Echo">
      <soap12:operation soapAction="http://partner.logich.vn/Echo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRequest">
      <soap12:operation soapAction="http://partner.logich.vn/UserRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PartnerService">
    <wsdl:port name="PartnerServiceSoap" binding="tns:PartnerServiceSoap">
      <soap:address location="http://test.simso888.com:2024/PartnerServices/PartnerService.asmx" />
    </wsdl:port>
    <wsdl:port name="PartnerServiceSoap12" binding="tns:PartnerServiceSoap12">
      <soap12:address location="http://test.simso888.com:2024/PartnerServices/PartnerService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>